

/* Basic */

:root {
    --radius: 24px;
}

a {
    border-radius: var(--radius);
}

.btn {

    &:not(.no-text) {
        padding: 0.6em 1.8em;
    }

    &:not(.select-kit-header):not(.sidebar-section-header) {
        border-radius: var(--radius);
    }
}

.title {
    font-weight: bold;
    transition: 0.5s ease
}

.alert {
    margin-block: 1em;
}

.loading-container {
    text-align: center;
    margin: 1em;
}

div.search-input { // applies to any module
    border: none !important;

    &:focus-within {
        color: var(--secondary);
        background-color: var(--primary);
        border-radius: var(--radius);
        outline: none !important;
    }
}

div.header-banner div.searching {
    top: 0.9em;
    right: 9.5em;
    z-index: 99;
}

/* Header -- overwrite base/header.scss */

div.d-header-wrap { // navigation bar, header

    ul.icons {

        & > li svg.d-icon {
            color: var(--primary-medium);
        }
    }

    .extra-info-wrapper .topic-link {
        color: var(--primary);
        overflow: visible;
    }

    .discourse-tag.simple {
        color: var(--primary-700) !important;
        font-weight: bold;
    }

}

/* MAIN, home pg */

#main-outlet {
    margin-block: 2em 1em;
    padding: 1em !important;
    border-radius: var(--radius);

    div.navigation-container {
        gap: 0.6em;

        ol.category-breadcrumb {

            & > li {
                margin-right: 0;

                summary {
                    text-transform: capitalize;
                    font-weight: bold;
                    background-color: none;
                    padding-inline: 1em;
                    border: none;
                    border-radius: var(--radius);
                    box-sizing: border-box;

                    & + div.select-kit-body {
                        border-radius: calc(var(--radius)/4);
                    }
                }
            }
        }

        #navigation-bar {
            margin-inline: auto 0;
            border: 2px solid var(--primary);
            border-radius: var(--radius);
            overflow: hidden;
            z-index: 1;

            li {
                margin-right: 0;
                background-color: var(--secondary);
                
                &[title] {
                    box-shadow: 0 0 0 1px var(--primary);
                }
                a {
                    font-weight: bold;
                    border-radius: 0;

                    &:hover {
                        background-color: var(--secondary-very-high);
                    }

                    &.active {
                        background-color: var(--primary);
                    }
                }
            }
        }
        div.navigation-controls {
            gap: 0.6em;
            
            :not(:last-child):not(svg) {
                margin-left: 0;
                margin-right: 0;
            }

            .select-kit-header {
                background-color: var(--primary);
                border-radius: var(--radius);

                svg {
                    color: var(--secondary);
                }
            }

            #create-topic {
                font-weight: bold;
                color: var(--secondary);
                background-color: var(--primary);

                svg {
                    color: var(--secondary);
                }

                &:hover {
                    background-color: var(--tertiary-hover);
                    border-top-left-radius: var(--radius);
                    border-bottom-left-radius: var(--radius);
                }
            }
        }
    }

    /* TOPIC LIST TABLE */

    table.topic-list {
        border-collapse: separate; 
        border-spacing: 0 0.2em;

        thead tr {
            display: flex;
            border-bottom: none;

            th.posters {
                flex-grow: 1;
            }
            th {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-inline: 1em;
                border-radius: calc(var(--radius)/4);

                svg {
                    margin-inline: 0.5em;
                }
            }
        }

        tbody tr {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1em;
            padding: 1em 2em;
            border: none;
            border-radius: var(--radius);
            transition: .5s ease background-color;

            &:hover {
                background-color: var(--secondary-very-high);

                a.title {
                    color: var(--primary);
                }
            }

            td {
                line-height: 2;
                width: auto;
                padding: 0.2em;

                &:not(.main-link) {
                    font-size: 0.9em;
                    display: flex;
                    align-items: center;
                    margin: 0 0.2em;

                    > button,
                    > span,
                    > a {
                        margin: 0;
                        padding: 0 !important;
                    }
                }

                &.main-link {
                    flex-basis: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-items: flex-start;

                    div.link-bottom-line {
                        flex-grow: 1;
                        display: flex;
                        justify-content: flex-end;
                        margin-inline: 0.8em;
                    }
                }
                &.posters {
                    white-space: nowrap;

                    a.single,
                    a.latest {
                        display: flex;
                        align-items: center;
                    }

                    a.latest:after {
                        content: attr(data-user-card) " \00a0 /";
                        color: var(--primary-medium);
                        font-weight: bold;
                        margin-left: 1em;
                    }
                    a:not(.latest) {
                        display: none;
                    }
                    img {
                        width: 2rem;
                        height: 2rem;
                    }
                }
                &.posts {

                    .badge-posts {
                        line-height: inherit;
                    }

                    &:after {
                        content: "\00a0 replies \00a0 /";
                        font-weight: bold;
                    }
                }
                &.views {
                    font-weight: bold;

                    &:after {
                        content: "\00a0 views";
                    }
                }
            }

            &.topic-list-item-separator {

                & > td.topic-list-data {
                    flex-grow: 1;
                    border-top: 2px dashed var(--tertiary) !important;
                    span {
                        color: var(--tertiary);
                        font-size: 1em;
                    }
                }
            }


            td.topic-list-data {

                a.discourse-tag {
                    font-size: $font-down-1;
                    text-align: center;
                    min-width: 2em;
                    margin-block: 0.175em;
                    padding: 0.35em 1em;
                    background-color: var(--primary-200);
                    
                    &::after {
                        display: none;
                    }
                }

                a.badge-notification {
                    color: var(--tertiary);
                    background-color: var(--tertiary-low);
                    padding: 0.2em 0.5em;
                    border: 2px solid var(--tertiary);
                }
            }
        }
    }
    footer.topic-list-bottom {
        padding: 2.5em;
    }
}

/* TAGS - applies globally */

.badge.badge-notification {
    font-weight: bold;
    color: var(--tertiary) !important;
    min-width: 1em;
    padding: 0.2em 0.8em !important;
    background-color: var(--tertiary-100) !important;
    box-shadow: inset 0 0 0 4px var(--tertiary);
    border-radius: var(--radius);
    box-sizing: border-box;
    line-height: 1.8;
  }

a.badge-wrapper {
    color: var(--primary);
    font-size: $font-down-2;
    margin-block: 0.175em;
    margin-right: 0.3em !important;
    padding: 0.35em 1em !important;

    span.category-name {
        color: var(--primary);
        padding-inline: 0.3em 0.6em;
    }
    .badge-category.restricted {
        
        & > svg {
            color: var(--danger);
        }
    }
    span.badge-category-parent-bg,
    span.badge-category-bg {
        width: 1em;
        height: 1em;
        margin-block: auto;
        margin-right: 0.5em;
        border-radius: var(--radius);

        &:after {
            content: "";
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background-color: inherit;
            border-radius: var(--radius);
            opacity: 0.25;
        }
    }
    span.badge-category-parent-bg {
        width: 0.5em;
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        &:after {
            opacity: 0.175;
        }
    }
    span.badge-category-parent-bg + span.badge-category-bg {
        width: 0.5em;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &:after {
            opacity: 0.175;
        }
    }
}

/* Categories PG */

section.category-boxes {
    gap: 1em;

    div.category-box {
        flex-grow: 1;
        flex-basis: 45%;
        margin: 0 !important;
        padding: 1em;
        border: none;
        border-radius: var(--radius);
        border-left-width: 0 !important;
        overflow: hidden;
    
        .category-box-inner {
            border: none;
            border-radius: var(--radius);
    
            div.category-box-heading {
                max-width: 100%;
                h3 {
                    text-align: left;
                    text-overflow: ellipsis " ..";
                    white-space: nowrap;
                }
            }
    
            &:before {
                content: "";
                position: absolute;
                top: 0; left: 0; right: 0; bottom: 0;
                background-color: var(--category-color);
                z-index: -1;
                opacity: 0.175;
            }
    
            > div.category-details {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 2em;

                a.badge-wrapper {
                    padding: 0.85em 1em;
                }
    
                > div.description {
                    text-align: left;
                }
            }
    
            span.badge-category-bg {
                width: 1em;
                height: 1em;
                margin: auto 0.6em auto auto;
                border-radius: var(--radius);
            }
        }
    }
}

/* Drop Down Stylings */

div.drop-down,
div.results {
    top: 4em !important;
    border-radius: calc(var(--radius)/2) !important;

    li.notification {
        margin-block: 0.2em;
        border-radius: calc(var(--radius)/4);
    }

    div.tabs-list {
        button {
            margin: 0.2em;
            border-radius: var(--radius) !important;
        }
    }

    span.icon > svg {

        &.d-icon-square-full {
            border-radius: var(--radius);
            overflow: hidden;
        }
    }
}

/* Posts - Inside Topics */

div.topic-map {
    padding: 1em;
    background-color: var(--secondary-very-high);
    border: none;
    border-radius: var(--radius);

    section.map {
        border-top: none;
    }

    nav.buttons > button {
        background-color: transparent !important;
        border: none !important;
    }
}

button.widget-button {
    border-radius: var(--radius);
}

.timeline-container .topic-timeline .timeline-scrollarea {
    border-left: 1px solid var(--tertiary);
    opacity: 0.5;
}

.timeline-handle {
    margin-left: -2px;
    border: 2px solid var(--tertiary);
}

/* User Menu */

.user-menu.revamped .menu-tabs-container {
    border-left: none;
}

.user-menu.revamped .bottom-tabs {
    border-top: none;
}

.user-menu .quick-access-panel {
    border-top: 0;
}

.menu-panel ul {
    color: var(--primary);

    span {
        color: var(--primary);
    }
}

.menu-links-row button.active { //backwards compatibility
    border-bottom: 1px solid var(--primary-low) !important;
}

/* Preferences */

.controls {

    img.avatar {

        + button {
            margin-top: auto !important;
        }
    }
}

ul.nav-stacked {

    li.indent {
    
        a {
            border-left: 4px solid var(--primary-200);
            border-radius: 0;
        } 
    }
}



/* Admin */


div.alert, .consent_banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em 2em;
    border: 2px solid var(--tertiary);
    border-radius: calc(var(--radius)/2);

    .col-text, .col-button {
        margin: 0.5em 1em;
    }

    .col-text {
        flex-grow: 1;
    }

    .col-button {
        margin-left: auto;
        white-space: nowrap;
    }
} 

.admin-controls, .admin-container {
    background-color: transparent;

    ul.nav.nav-pills {

        nav {
            background-color: transparent;

            &:before, &:after {
                content: none;
            }
        }

    }

    .controls {
        background-color: transparent;
        padding: 0;

        input {
            background-color: var(--secondary-very-high);
            padding: 0.6em 1em;
            border: none;
            border-radius: var(--radius);
        }
    }
}

.nav-stacked {
    background-color: var(--secondary-very-high);
    padding: 1em;
    border-radius: var(--radius);

    > li {
        border-bottom: none;
    }
}

.admin-detail {
    border-left: none;
}

.themes-list-header > button {
    margin: 0.2em;
}

.admin-customize .themes-list-container {
    border-left: none;
    border-right: none;
    border-bottom: none;
}


/* Misc */

.drop-down-mode .d-header-icons .active .icon::after {
    border-top: none;
}

/* Login Welcome Header - confirm email */

.activation-controls {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
}


/* ------- ONLY THEME MODULES BELOW THIS LINE ------- */

/*Headers*/

header:not([scrolled]),
header[scrolled="false"] {
    background-color: transparent;
    backdrop-filter: none;
    box-shadow: none;
}

div.search-widget {

    #search-term {
        color: var(--bg-contrast);
        background-color: rgba(var(--bg-avg), 0.5);
        padding: 1em 2em;
        box-shadow: 0 0 0 4px rgba(var(--bg-avg), 0.5);
        border-radius: var(--radius);
        backdrop-filter: blur(5px);
    }

    button.search-icon {
        background-color: rgba(var(--bg-avg), 1);
        padding-inline: 4em;
        opacity: 0.9;

        > svg {
            color: var(--bg-contrast);
        }

        &:hover {
            background-color: var(--bg-contrast) !important;

            > svg {
                color: rgba(var(--bg-avg), 1);
            }
        }
    }
}


/*Header Search (for nav)*/

html.display-search-banner div.floating-search-input { // Hides when Discourse Search Banner Active
    pointer-events: none;
    opacity: 0;
}

div.floating-search-input {

    div.search-banner {
        background: transparent;

        .search-input {
            border-radius: var(--radius) !important;
            overflow: hidden;

            #search-term {
                background-color: var(--primary-100) !important;
                padding: 0.8em 3em !important;
            }

            svg.d-icon-search,
            #search-term {
                color: var(--primary) !important;
            }
        }
    }

    .widget-button.btn {
        top: .5em !important;
        left: .5em !important;
    }
}

/* Right Sidebar Blocks */

div.tc-right-sidebar {
    position: sticky;
    top: 6em;
    flex-grow: 1;
    flex-basis: 260px;
    background-color: var(--secondary-very-high);
    margin-block: 1em;
    padding: 1em 1.5em;
    border-radius: var(--radius);
    z-index: 99;

    div.rs-component {
        margin-bottom: 0;

        h3.top-contributors-heading {
            font-size: 1em;
            padding-block: 0.5em 1em; 
        }
    }

    span.top-contributors--user-badge {
        font-size: 0.8em;

        > img.avatar {
            margin-right: 1em;
        }
    }

    span.top-contributors--user-likes {
        color: var(--primary-medium);
    }

    a.top-contributors--view-all {
        color: var(--secondary);
        display: inline-block;
        text-align: center;
        font-weight: bold;
        width: calc(100% + 3em);
        background-color: var(--tertiary);
        margin: 1em -1.5em -1.5em -1.5em;
        padding: 1em;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-sizing: border-box;

        &:hover {
            background-color: var(--tertiary-hover);
        }
    }
}

