

/* Basic */

:root {
    --radius: 24px;
}

a {
    border-radius: var(--radius);
}

.btn {
    padding: 0.6em 1.8em;
    border-radius: var(--radius);
}

.title {
    font-weight: bold;
    transition: 0.5s ease
}

div.search-input { // applies to any module
    border: none !important;
}

/* Header -- overwrite base/header.scss */

div.d-header-wrap { // navigation bar, header
    //position: static;
    // change to scroll toggle, scrollTop transparent -> solid bgclr

    ul.icons {

        & > li svg.d-icon {
            color: var(--primary-medium);
        }
    }

    .extra-info-wrapper .topic-link {
        overflow: visible;
    }

}

/* MAIN, home pg */

#main-outlet {
    margin-block: 2em 1em;
    padding: 1em !important;
    border-radius: var(--radius);

    div.navigation-container {

        ol.category-breadcrumb {

            & > li summary {
                text-transform: capitalize;
                font-weight: bold;
                background-color: none;
                padding-inline: 1em;
                border: none;
                border-radius: var(--radius);
            }
        }

        #navigation-bar {
            margin-inline: auto 1em;
            border: 2px solid var(--primary);
            border-radius: var(--radius);
            overflow: hidden;
            z-index: 1;

            li {
                margin-right: 0;
                background-color: var(--secondary);
                
                &[title] {
                    box-shadow: 0 0 0 1px var(--primary);
                }
                a {
                    font-weight: bold;
                    border-radius: 0;

                    &:hover {
                        background-color: var(--secondary-very-high);
                    }

                    &.active {
                        background-color: var(--primary);
                    }
                }
            }
        }
        div.navigation-controls {

            #create-topic {
                font-weight: bold;
                color: var(--secondary);
                background-color: var(--primary);

                svg {
                    color: var(--secondary);
                }

                &:hover {
                    background-color: var(--tertiary-hover);
                    border-top-left-radius: var(--radius);
                    border-bottom-left-radius: var(--radius);
                }
            }
        }
    }

    div.full-width {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1em;

        #list-area {
            flex-grow: 1;
        }
    }

    table {
        border-collapse: separate; 
        border-spacing: 0 0.2em;

        thead tr {
            display: flex;
            border-bottom: none;

            th.posters {
                flex-grow: 1;
            }
            th {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-inline: 1em;
                border-radius: calc(var(--radius)/4);

                span {
                    margin-left: 0.5em;
                }
            }
        }

        tbody tr {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1em;
            padding: 1em 2em;
            border: none;
            border-radius: var(--radius);
            transition: .5s ease background-color;

            &:hover {
                background-color: var(--secondary-very-high);

                a.title {
                    color: var(--primary);
                }
            }

            td {
                line-height: 2;
                width: auto;
                padding: 0.2em;

                &:not(.main-link) {
                    font-size: 0.9em;
                    display: flex;
                    align-items: center;
                    margin: 0 0.2em;

                    > button,
                    > span,
                    > a {
                        margin: 0;
                        padding: 0 !important;
                    }
                }

                &.main-link {
                    flex-basis: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-items: flex-start;

                    div.link-bottom-line {
                        flex-grow: 1;
                        display: flex;
                        justify-content: flex-end;
                        margin-inline: 0.8em;
                    }
                }
                &.posters {
                    white-space: nowrap;

                    a.latest:after {
                        content: attr(data-user-card);
                        color: var(--primary-medium);
                        font-weight: bold;
                        margin-left: 1em;
                    }
                    a:not(.latest) {
                        display: none;
                    }
                    img {
                        width: 2rem;
                        height: 2rem;
                    }
                }
                &.posts {

                    .badge-posts {
                        line-height: inherit;
                    }

                    &:after {
                        content: "\00a0 replies";
                    }
                }
                &.views {

                    &:after {
                        content: "\00a0 views";
                    }
                }
            }

            &.topic-list-item-separator {

                & > td.topic-list-data {
                    flex-grow: 1;
                    border-top: 2px dashed var(--tertiary) !important;
                    span {
                        color: var(--tertiary);
                        font-size: 1em;
                    }
                }
            }


            td.topic-list-data {

                a.discourse-tag {
                    font-size: $font-down-1;
                    margin-block: 0.175em;
                    padding: 0.35em 0.8em;
                    background-color: var(--primary-200);
                    &::after {
                        display: none;
                    }
                }
                a.badge-notification {
                    color: var(--tertiary);
                    background-color: var(--tertiary-low);
                    padding: 0.2em 0.5em;
                    border: 2px solid var(--tertiary);
                }
            }
        }
    }
    footer.topic-list-bottom {
        padding: 2.5em;
    }
}

/* TAGS - applies globally */

a.badge-wrapper {
    color: var(--primary);
    font-size: $font-down-2;
    margin-block: 0.175em;
    margin-right: 0.35em;
    padding: 0.35em 0.8em;

    span.category-name {
        color: var(--primary);
    }
    .badge-category.restricted {
        
        & > svg {
            color: var(--danger);
        }
    }
    span.badge-category-parent-bg,
    span.badge-category-bg {
        width: 1em;
        height: 1em;
        margin-block: auto;
        margin-right: 0.5em;
        border-radius: var(--radius);

        &:after {
            content: "";
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background-color: inherit;
            border-radius: var(--radius);
            opacity: 0.25;
        }
    }
    span.badge-category-parent-bg {
        width: 0.5em;
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        &:after {
            opacity: 0.175;
        }
    }
    span.badge-category-parent-bg + span.badge-category-bg {
        width: 0.5em;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &:after {
            opacity: 0.175;
        }
    }
}

/* Categories PG */

div.category-box {
    flex-grow: 1;
    flex-basis: 45%;
    padding: 1em;
    border: none;
    border-radius: var(--radius);
    border-left-width: 0 !important;
    overflow: hidden;

    .category-box-inner {
        border: none;
        border-radius: var(--radius);

        div.category-box-heading {
            max-width: 100%;
            h3 {
                text-align: left;
                text-overflow: ellipsis " ..";
                white-space: nowrap;
            }
        }

        &:before {
            content: "";
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background-color: var(--category-color);
            z-index: -1;
            opacity: 0.175;
        }

        > div.category-details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2em;

            > div.description {
                text-align: left;
            }
        }

        span.badge-category-bg {
            width: 1em;
            height: 1em;
            margin: auto 0.6em auto auto;
            border-radius: var(--radius);
        }
    }
}

/* Drop Down Stylings */

div.drop-down,
div.results {
    border-radius: calc(var(--radius)/2) !important;

    li.notification {
        margin-block: 0.2em;
        border-radius: var(--radius);
    }

    div.tabs-list {
        button {
            margin: 0.2em;
            border-radius: var(--radius) !important;
        }
    }

    span.icon > svg {

        &.d-icon-square-full {
            border-radius: var(--radius);
            overflow: hidden;
        }
    }
}

/* Posts - Inside Topics */

div.topic-map {
    padding: 1em;
    background-color: var(--secondary-very-high);
    border: none;
    border-radius: var(--radius);

    section.map {
        border-top: none;
    }

    nav.buttons > button {
        background-color: transparent !important;
        border: none !important;
    }
}

button.widget-button {
    border-radius: var(--radius);
}

.timeline-container .topic-timeline .timeline-scrollarea {
    border-left: 1px solid var(--tertiary);
    opacity: 0.5;
}

.timeline-handle {
    margin-left: -2px;
    border: 2px solid var(--tertiary);
}

/* Admin */

div.bootstrap-mode-notice {

    div.alert {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-top: -2em;
        margin-bottom: 2em;
        padding: 1em 2em;
        border: 2px solid var(--tertiary);
        border-radius: calc(var(--radius)/2);

        .col-text, .col-button {
            margin: 0.5em 1em;
        }

        .col-text {
            flex-grow: 1;
        }

        .col-button {
            white-space: nowrap;
        }
    } 
}



/* ------- ONLY THEME MODULES BELOW THIS LINE ------- */

/*Header Search (for nav)*/

html.display-search-banner div.floating-search-input { // Hides when Discourse Search Banner Active
    pointer-events: none;
    opacity: 0;
}

div.floating-search-input {

    div.search-banner {
        background: transparent;

        .search-input {
            box-shadow: 0 0 4px var(--primary-medium);
            border-radius: var(--radius) !important;
            overflow: hidden;

            svg.d-icon-search,
            #search-term {
                color: var(--primary) !important;
            }
        }
    }
}

/* Discourse Search Banner - overrides */

div.custom-search-banner {
    display: flex;
    align-items: center;
    min-height: 280px;
    margin-top: -4em;
    padding-top: 4em;
    padding-bottom: 22em;

    div.custom-search-banner-wrap {
        max-width: 540px;
        padding: 1.5em 1.5em;

        h1 {
            color: var(--tertiary-low);
            font-size: 2.6em;
            margin-block: 1em;
        }
    
        div.search-input:focus-within {
            outline: none;
        }
    
        div.search-input > input {
            padding: 1em 2em;
            border-radius: 2em;
            opacity: 0.7;
        }
    
        button {
            min-width: 5em;
            min-height: 100%;
            background-color: var(--primary-low);
            border-radius: 2em;
        }
    }
}

/* Welcome Banner - overrides */

div.welcome-link-banner-wrapper {
    margin-top: -22em;
    height: 22em;

    div.welcome-wrapper {
        align-items: center;
        box-shadow: none !important;
    
        div.welcome-content {
            display: none;
        }
    
        div.featured-banner-link {
            & > div {
                border-radius: var(--radius);
                transition: 0.25s ease all;

                a {

                    h3 {
                        font-weight: bold !important;
                        text-transform: capitalize;
                        line-height: 4 !important;
                        svg {
                            width: 2em;
                            height: 2em;
                            background-color: var(--secondary);
                            padding: 0.8em;
                            border-radius: 50%;
                        }
                    }
                
                }

                &:hover {
                    background-color: var(--secondary);
                    transform: scale(1.02);

                    a {
                        text-decoration: none !important;
                    }
                }
            }
        }
    }

}

/* Right Sidebar Blocks */

div.tc-right-sidebar {
    position: sticky;
    top: 6em;
    flex-grow: 1;
    flex-basis: 260px;
    background-color: var(--secondary-very-high);
    margin-block: 1em;
    padding: 1em 1.5em;
    border-radius: var(--radius);
    z-index: 99;

    div.rs-component {
        margin-bottom: 0;

        h3.top-contributors-heading {
            font-size: 1em;
            padding-block: 0.5em 1em; 
        }
    }

    span.top-contributors--user-badge {
        font-size: 0.8em;

        > img.avatar {
            margin-right: 1em;
        }
    }

    span.top-contributors--user-likes {
        color: var(--primary-medium);
    }

    a.top-contributors--view-all {
        color: var(--secondary);
        display: inline-block;
        text-align: center;
        font-weight: bold;
        width: calc(100% + 3em);
        background-color: var(--tertiary);
        margin: 1em -1.5em -1.5em -1.5em;
        padding: 1em;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-sizing: border-box;

        &:hover {
            background-color: var(--tertiary-hover);
        }
    }
}

